#mypic{
    width: 40%;
    height: 42%;

}




/* foooter contacts  */

.bi bi-whatsapp{

size: 40px;

}

.social-links{

    display: flex;
    align-items:center;
    justify-content: center;
    gap:40px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    
  
    backdrop-filter: blur(8px);
    border-radius: 0 0 18px 18px;
    transition: background 0.3s;
  }
}